:host {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;

    > header, > ul ol {
        display: grid;
        grid-template-columns: 2fr repeat(5, 1fr);
        
        > li:not(:first-child, :nth-child(2)) {
            text-align: center;
        }
    }

    > header {
        padding-bottom: calc(var(--subline) * 2);

        > li {
            color: var(--color-A3-tint-a);
        }
    }

    >ul {
        height: 100%;
        overflow-y: scroll;

        > ol {
            padding: calc(var(--subline) * 2) 0;
            border-bottom: 1px solid var(--color-A3-tint-a);
        }
    }
}