<header>
    <li class="slot-2">name</li>
    <li class="slot-2">team</li>
    <li class="slot-2">GP</li>
    <li class="slot-2">MIN</li>
    <li class="slot-2">PTS</li>
    <li class="slot-2">FG</li>
</header>
<ul>
    <ol *ngFor="let playersStat of playersStats">
        <li class="slot-1">undefined</li>
        <li class="slot-1">undefined</li>
        <li class="slot-1">undefined</li>
        <li class="slot-1">{{playersStat.min}}</li>
        <li class="slot-1">{{playersStat.pts}}</li>
        <li class="slot-1">{{playersStat.fg}}</li>
    </ol>
</ul>